body { font-family: Arial, Helvetica, sans-serif }

a { text-decoration: none; color: black; font-size: 24px; }
button { color: white; background-color: #6d54f4; font-size: 35px; border-radius: 5px; padding: 10px;}


/* LOGO & TITLE */
.header {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 130px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo title menu";
  height: 300px;
}

.logo { grid-area: logo; }
.title { grid-area: title; }

.esc { margin-left: 150px; margin-top: -100px; font-size: 52px; }
.title-text { font-size: 52px; }
.menu-btn { grid-area: menu; display: none; }


/* MENU NAVBAR */
.menu {
  display: grid;
  grid-template-columns: auto 300px 300px 300px 300px auto;
  grid-template-rows: 70px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  margin-top: -110px;
  grid-template-areas:
    ". menu1 menu2 menu3 menu4 .";
}

.menu1 { grid-area: menu1; }
.menu2 { grid-area: menu2; }
.menu3 { grid-area: menu3; }
.menu4 { grid-area: menu4; }

/* BIG IMAGE */
.bigimage-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 500px;
  gap: 0px 0px;
  grid-template-areas:
    "bigimage bigimage bigimage";
}

.bigimage { grid-area: bigimage; background-color: #dfe6ed; }

/* BIG BUTTONS */
.bigButtons {
  display: grid;
  grid-template-columns: auto 350px 350px auto;
  grid-template-rows: 100px;
  margin-top: -50px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". button1 button2 .";
}

.button1 { grid-area: button1; }
.button2 { grid-area: button2; }
.button3 { display: none; }



/* TESTIMONIALS */
.testimonials {
  display: grid;
  grid-template-columns: auto 100px 600px 100px 600px auto;
  grid-template-rows: 200px;
  margin-top: 60px;
  grid-auto-flow: column;
  grid-template-areas:
    ". testimonial1 testimonial2 testimonial3 testimonial4 .";
}

.testimonial1 { grid-area: testimonial1; }
.testimonial2 { grid-area: testimonial2; font-size: 30px; margin-left: 40px; }
.testimonial3 { grid-area: testimonial3;  }
.testimonial4 { grid-area: testimonial4; font-size: 30px; margin-left: 40px; }


/* POPULAR CHALLANGES */
.challanges {
  display: grid;
  grid-template-columns: auto 400px 400px 400px auto;
  grid-template-rows: 250px 250px;
  gap: 0px 50px;
  grid-auto-flow: column;
  grid-template-areas:
    ". challenge1-img challenge2-img challenge3-img ."
    ". challenge1-text challenge2-text challenge3-text .";
}

.challenge1-img { grid-area: challenge1-img; background-color: #dfe6ed; border-style: solid solid hidden solid; }
.challenge2-img { grid-area: challenge2-img; background-color: #dfe6ed; border-style: solid solid hidden solid; }
.challenge3-img { grid-area: challenge3-img; background-color: #dfe6ed; border-style: solid solid hidden solid; }

.challenge1-text { grid-area: challenge1-text; border-style: hidden solid solid solid; }
.challenge2-text { grid-area: challenge2-text; border-style: hidden solid solid solid; }
.challenge3-text { grid-area: challenge3-text; border-style: hidden solid solid solid; }

.rating { margin-top: 200px; margin-left: 30px; }

#challenges-title { text-align: center; font-size: 42px; margin-top: 80px; }
.challenge-title { margin-left: 20px; }

.participants { margin-left: 20px; }
.challenge-description { margin-left: 20px; }

.challenge-btn1 { font-size: 24px; margin-left: 125px; margin-top: 10px; }
.challenge-btn2 { font-size: 24px; margin-left: 195px; margin-top: 10px; }
.challenge-btn3 { font-size: 24px; margin-left: 195px; margin-top: 10px; }


/* ALL CHALLENGES BUTTONS */
.all-challenges {
  display: flex;
  gap: 50px;
  width: 800px;
  margin: 100px auto;
}

.all-challenges-button { background-color: white; color: #6d54f4; border-color: #6d54f4; padding: 10px 20px; }


/* OUR STORY */
.our-story {
  display: flex;
  width: 900px;
  margin: 150px auto;
}

.story-text { font-size: 28px; text-align: center; }
.story-button { font-size: 22px; background-color: white; color: #6d54f4; border-color: #6d54f4; padding: 10px 20px; }


/* FOUR SQUARES */
.foursquares {
  display: grid;
  grid-template-columns: auto 800px 800px auto;
  grid-template-rows: 500px 500px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". img1 text1 ."
    ". text2 img2 .";
}

.img1 { grid-area: img1; background-color: #dfe6ed; }
.img2 { grid-area: img2; background-color: #dfe6ed; }

.text1 { grid-area: text1; }
.text2 { grid-area: text2; }

.foursquares h2 { margin-top: 60px; margin-left: 50px; font-size: 38px; }
.foursquares p { margin-left: 50px; font-size: 28px; }
.foursquares button { font-size: 32x; margin-top: 20px; margin-left: 50px; padding: 10px 30px;}

/* FOOTER TEXTS */
.footer {
  margin-top: 200px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footertext1 footertext2 footertext3";
    background-color: #dfe6ed;
}

.footertext1 { grid-area: footertext1; margin-top: 50px; margin-left: 50px;}
.footertext2 { grid-area: footertext2; margin-top: 50px; }
.footertext3 { grid-area: footertext3; margin-top: 50px; }

@media only screen and (max-width: 1500px) {

  .challanges {
  zoom: 0.9;
  -moz-transform: scale(0.9);
  }

  .foursquares {
    zoom: 0.9;
    -moz-transform: scale(0.9);
    }
}

@media only screen and (max-width: 1400px) {

  .testimonials {
  zoom: 0.9;
  -moz-transform: scale(0.9);
  }
}

@media only screen and (max-width: 1300px) {

  .testimonials {
  zoom: 0.8;
  -moz-transform: scale(0.8);
  }

  .challanges {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    }
  
    .foursquares {
      zoom: 0.8;
      -moz-transform: scale(0.8);
      }
}
